# BREAST CANCER DIAGNOSIS

Imports

In [1]:
from numpy.conftest import dtype

# Initial imports
from src.data_load import *
from src.preprocessing import *
from src.train_models import *
from src.balance import *

# Machine Learning models
from models.LR_model import *
from models.DT_model import *
from models.SVM_model import *

from models.KNN_model import *
from models.NN_model import *

# Visualize
from src.auc_roc_curve import *

## Data Preprocessing and Exploration

Data loading and preview

In [2]:
df = load_data("data_original.csv")

In [3]:
df.head(10)

,Clump_thickness,Uniformity_of_cell_size,Uniformity_of_cell_shape,Marginal_adhesion,Single_epithelial_cell_size,Bare_nuclei,Bland_chromatin,Normal_nucleoli,Mitoses,Class
0,5,1,1,1,2,1.0,3,1,1,2
1,5,4,4,5,7,10.0,3,2,1,2
2,3,1,1,1,2,2.0,3,1,1,2
3,6,8,8,1,3,4.0,3,7,1,2
4,4,1,1,3,2,1.0,3,1,1,2
5,8,10,10,8,7,10.0,9,7,1,4
6,1,1,1,1,2,10.0,3,1,1,2
7,2,1,2,1,2,1.0,3,1,1,2
8,2,1,1,1,2,1.0,1,1,5,2
9,4,2,1,1,2,1.0,2,1,1,2

In [4]:
show_shape(df)

Rows: 699
Columns: 10

In [5]:
list_cols = df.columns.tolist()
for col in list_cols:
    print(col)

Clump_thickness
Uniformity_of_cell_size
Uniformity_of_cell_shape
Marginal_adhesion
Single_epithelial_cell_size
Bare_nuclei
Bland_chromatin
Normal_nucleoli
Mitoses
Class

### Data Cleanup Process

Balancing dataset

In [6]:
df_balanced = random_over_sampling(df, "Class")

In [7]:
show_shape(df_balanced)

Rows: 916
Columns: 10

Dropping rows without missing values

In [8]:
df_rows_dropped = drop_rows_from_col(df_balanced,"Bare_nuclei")

In [9]:
show_shape(df_rows_dropped)

Rows: 898
Columns: 10

Converting "Class" values to binary

In [10]:
df_target_feature_mapped = mapping_target_feature(df_rows_dropped,"Class",2,4,0,1)

In [11]:
df_target_feature_mapped.head(10)

,Clump_thickness,Uniformity_of_cell_size,Uniformity_of_cell_shape,Marginal_adhesion,Single_epithelial_cell_size,Bare_nuclei,Bland_chromatin,Normal_nucleoli,Mitoses,Class
0,3,1,1,1,2,1.0,2,1,1,0
1,8,2,4,1,5,1.0,5,4,4,1
2,5,1,1,1,2,1.0,3,1,1,0
3,3,1,1,1,2,1.0,2,1,1,0
4,1,1,1,1,2,1.0,2,1,1,0
5,8,7,8,5,5,10.0,9,10,1,1
6,10,10,10,10,3,10.0,10,6,1,1
7,8,10,5,3,8,4.0,4,10,3,1
8,7,5,6,10,5,10.0,7,9,4,1
9,4,1,1,3,2,1.0,3,1,1,0

Updating data types

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

Removing "id" column

No column "id", not removal

## Data Exploration and Visualization

Parallel Coordinate Plot

Distribution of Each Feature for Both Classes

## Machine Learning Models (LR, DT, SVM)

Logistic Regression

Support Vector Machines

Decision Tress

## Methodology Test (different datasets)

Hyperparameter identification

Grid Search
- SVM
- DT
- LR

Cross Validation

## Results

## Try different parameters

## New predictive models (KNN, NN)